*{
    box-sizing: border-box;
}
/* a{
    text-decoration: none;
    color: #9F9F9F;
} */

.header{
    height: 427px;
    background-image: url("../images/banniere.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.header-navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 91px;
    background: #fff;
}

.header-navbar-link {
    position: relative;
    left: -200px;
    width: 605px;
}

.header-navbar-link a{
    text-decoration: none;
    color: #9F9F9F;
    margin-right: 80px;
    
}

.header-navbar-link a:hover{
    color: #000;
}

.header-social-media{
    position: relative;
    right: -300px;
}

.header-social-media a{    
    padding: 8px 10px;
    color: #9F9F9F;
}  

.header-social-media a:hover{
    color: #000;
}

.activated-link{
    color: #000!important;
}

/*  Styling main part */

.card{
    display: flex;
    flex-direction: row;
}
.card-content{
    margin-left: 20px;
}

.card-content h4{
    font-size: 17px;
    font-weight: 300;
    opacity: .6;
}

.card-content h2{
    font-size: 36px;
    font-weight: 700;
}

.card-content p{
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    text-align: justify;
}